*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    margin: 0;
    position: relative;
}

.cabecote{
    background: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 0px 0px 200px 0px solid #fff;
}

#pkslogo{
    display: flex;
    justify-content: center;
    
}

.container {
    margin: 0px 600px 0 600px;
    background-image: linear-gradient(to bottom, purple, rgb(158, 2, 158), rgb(200, 0, 200));
    color: inherit;
    font-size: 1.2rem;
    border-radius: 0 0px 24px 24px;
    text-transform: capitalize;
    width: 28%;
    height: 5%;
    transition: all 0.2s;
    position: absolute;
}



nav{
   display: flex;
   justify-content: center;
   align-items: center;
}

nav ul{
    display: flex;
    list-style: none;

}

ul{
    margin-right: 5%;
}

nav ul a {
    display: flex;
    margin: 0 20px;
    justify-content: center;
    color: #fff;
    text-decoration: none;
}

.botao1{
    border-radius: 25px;
    border: none;
    padding: 10.8%;
    margin-top: 5%;
    background-color: rgb(225, 105, 14);
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    margin-right: 25%;
    text-transform: capitalize;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    transition: all 0.2s;
}

.botao1:hover{
    background-image:linear-gradient(to bottom,orange, rgb(255, 112, 3), rgb(230, 58, 1)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
   
    
}

.botao2{
    border-radius: 25px;
    border: none;
    padding: 20% 50% 20% 50%;
    margin-top: 10%;
    background-color: rgb(225, 105, 14);
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    text-transform: capitalize;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    transition: all 0.2s;
}

.botao2:hover{
    background-image:linear-gradient(to bottom,orange, rgb(255, 112, 3), rgb(230, 58, 1)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 23% 50% 20% 50%;
    margin-top: 4px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    
}

.botao3{
    border-radius: 25px;
    border: none;
    padding: 17% 30% 12% 30%;
    margin-top: 8%;
    background-color: rgb(225, 105, 14);
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    margin-left: 50%;
    text-transform: capitalize;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    transition: all 0.2s;
}

.botao3:hover{
    background-image:linear-gradient(to bottom,orange, rgb(255, 112, 3), rgb(230, 58, 1)) ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17% 30% 12% 30%;
    margin-top: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    
}

.sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #3e3753, #332d4d, #241e35, #18122B);
    height: 100%;
    width: 100%;
    animation: degrade 25s ease infinite;
    background-size: 300% 300%;
}

@keyframes degrade {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.textboxleft{
    background-color: #2d2546;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 150px;
    margin-left: 2%;
    border-radius: 25px;
    border: solid rgba(0, 0, 0, 0.5);
}

.text1{
    font-size: 20px;
    padding: 20px;
    margin-left: 10px;
    position: absolute;
    color: #eee;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.text2 {
    position: absolute;
    padding: 20px;
    display: flex;
    top: 200px;
    height: 50%;
    width: 45%;
    left: 42px;
    color: #eee;
    font-size: 1.4rem;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-align: justify;
    line-height: 1.7;
}
